*.dbg
*.bak
*.exe
*.csv
*.dll
*.so
*.lps
satania-buddy*
link*.res
lib
castle-engine-output
src/components/castle-engine
src/components/neural-api
src/components/synalist
src/components/typing-label
src/components/TPocketSphinx
data
data-source
ppas.sh
configs.json
deploy